*{
margin: 0px;
box-sizing: border-box;


}
.topo{
    background-color: darkgray;
    padding: 10px;
    font-size: 15px;
}
.logo1 img{
    width: 50px;
    height: 50px;
}

.body {
    background-color:#f4f3f8;
    font-family: calibri;
    font-size: 22px;
    color: darkblue;
}

.navegacao{
    display: flex;
}

.menu{
    display: flex;
    list-style: none;
    margin-left: 133px;
    align-items: center;
    font-size: 22px;
    justify-content: flex-end;
}

.titulo{
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 40px;
    color: darkblue;
}

.img{
    width: 100%;
}

.titulo2 {
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 40px;
    color: darkblue;
}

.subtitulo{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.grade{
    margin-block: 53px;
    display: grid;
    gap: 29px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.itens{
    background-color: darkgray;
    padding: 15px;
    margin-bottom: 15px;
    width: 296px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-radius: 22px;
    color: darkblue;
}

.itens img {
    max-width: 100%;
    max-height: 100%;
}

.item{
    font-size: 20px;
}

.p1{
    font-size: 16px;
    color: darkblue;
}

.itensp{
    background-color: beige;
    padding: 61px;
    margin-bottom: 62px;
    width: 823px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
}

.itemp{
    font-size: 38px;
}

.produtos {
    background-color: #f4f3f8;
    font-family: calibri;
    font-size: 20px;
    color: red;
}

.preço{
    color: red;
}

.tcntt{
    text-align: center;
    font-size: 39px;
    text-decoration: none;
    color: darkblue;
    margin-bottom: 20px;
    margin-top: 18px;
}

.tcntt2{
    text-align: center;
    font-size: 27px;
    text-decoration: none;
    color: darkblue;
    margin-bottom: 32px;
}

.contato{
    margin-top: 10px;
    font-size: 21px;
    text-decoration: none;
    margin-bottom: 37px;
    background-color: gainsboro;
    max-width: 100%;
    display: grid;
        text-align: center;
}

.corpo{
    
}

.gradec{
  
}
.mapa{
    margin-bottom: 17px;
    width: 100%; 
    height: 600px;
}

.rodape{
    color: black;
    background-color: gainsboro;
    padding: 50px;
    text-align: center;
}


@media (min-width:768px) {
    .logo1 img{
        width: 100px;
        height: 100px;
    }
    .menu{
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        padding: 21px;;
    }
    .subtitulo{
        text-align: center;
        font-size: 30px;
        margin-bottom: 56px 
    }

}


